<main class="center">
	<form action="/hourly" method="post" id="hourlyf">
		<label for="frequency">How often do you recieve a check?: </label>
		<select id="frequency" name="frequency" required>
			<option value="daily">Daily</option>
			<option value="weekly">Weekly</option>
			<option value="bi-weekly" selected>Bi-Weekly</option>
			<option value="monthly">Monthly</option>
			<option value="yearly">Yearly</option></select
		><br />
		<label id="timePeriodl" for="timePeriod" hidden
			>Whats the year and month that you want to calculate for?:
		</label>
		<input type="month" name="timePeriod" id="timePeriod" hidden /><br />
		<label id="taxl" for="tax">How much were you taxed?: </label>
		<input type="text" name="tax" id="tax" /><br />
		<label for="check">How much did you recive your most recent check?: </label>
		<input type="text" name="check" id="check" required /><br />
		<label for="isHourly">Are you paid Hourly or salery?: </label>
		<select id="isHourly" name="isHourly" required>
			<option value="salary">Salary</option>
			<option value="hourly">Hourly</option></select
		><br />
		<label id="hoursl" for="hours" hidden
			>How many hours do you work a week?:
		</label>
		<input type="text" name="hours" id="hours" hidden /><br />
		<label id="daysl" for="days" hidden
			>How many days do you work a week?:
		</label>
		<input type="text" name="days" id="days" hidden /><br />
		<input type="submit" id="submit" /><br />
		<% if (userId && job.name) { %>
		<label for="prefill">Click to prefill boxes based on current job: </label
		><br />
		<input type="checkbox" name="prefill" id="prefill" />
		<% } %>
	</form>
	<div id="results">
		<% if (answer) { %>
		<p id="a">
			Your <%= answer.tax %> tax hourly rate is $<%= answer.rate %> <% } %>
		</p>
	</div>

	<script src="/public/wage.js"></script>
	<script>
		let frequencyEl = document.getElementById("frequency");
		let isHourlyEl = document.getElementById("isHourly");
		let hoursEl = document.getElementById("hours");
		let hourslEl = document.getElementById("hoursl");
		let daysEl = document.getElementById("days");
		let dayslEl = document.getElementById("daysl");
		let taxEl = document.getElementById("tax");
		let timePeriodEl = document.getElementById("timePeriod");
		let timePeriodlEl = document.getElementById("timePeriodl");

		if ("<%= userId %>" && "<%= job.name %>") {
			let prefillEl = document.getElementById("prefill");
			prefillEl.addEventListener("click", function () {
				if (prefillEl.checked) {
					document.getElementById("tax").value = "<%= job.tax %>";
					isHourlyEl.value = "<%= job.isHourly %>".toLowerCase();
					isHourlyEl.dispatchEvent(new Event("change"));
					document.getElementById("hours").value = "<%= job.hours %>";
					document.getElementById("days").value = "<%= job.days %>";
				} else {
					document.getElementById("tax").value = "";
					isHourlyEl.value = "salary";
					isHourlyEl.dispatchEvent(new Event("change"));
					document.getElementById("hours").value = "";
					document.getElementById("days").value = "";
				}
			});
		}

		isHourlyEl.onchange = function () {
			if (isHourlyEl.value == "hourly") {
				hoursEl.hidden = false;
				hourslEl.hidden = false;
				if (frequencyEl.value == "monthly") {
					timePeriodlEl.hidden = false;
					timePeriodEl.hidden = false;
					daysEl.hidden = true;
					dayslEl.hidden = true;
				} else if (frequencyEl.value == "daily") {
					daysEl.hidden = false;
					dayslEl.hidden = false;
					timePeriodlEl.hidden = true;
					timePeriodEl.hidden = true;
				} else {
					timePeriodlEl.hidden = true;
					timePeriodEl.hidden = true;
					daysEl.hidden = true;
					dayslEl.hidden = true;
				}
			} else {
				hoursEl.hidden = true;
				hourslEl.hidden = true;
				timePeriodlEl.hidden = true;
				timePeriodEl.hidden = true;
				daysEl.hidden = true;
				dayslEl.hidden = true;
			}
		};
		frequencyEl.onchange = function () {
			if (frequencyEl.value == "monthly") {
				if (isHourlyEl.value == "hourly") {
					timePeriodlEl.hidden = false;
					timePeriodEl.hidden = false;
					daysEl.hidden = true;
					dayslEl.hidden = true;
				} else {
					timePeriodlEl.hidden = true;
					timePeriodEl.hidden = true;
				}
			} else if (frequencyEl.value == "daily" && isHourlyEl.value == "hourly") {
				daysEl.hidden = false;
				dayslEl.hidden = false;
				timePeriodlEl.hidden = true;
				timePeriodEl.hidden = true;
			} else {
				timePeriodlEl.hidden = true;
				timePeriodEl.hidden = true;
				daysEl.hidden = true;
				dayslEl.hidden = true;
			}
		};
	</script>
</main>
